<nav class="border-gray-200 bg-gray-900">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
	  <a routerLink="/" class="flex items-center">
		<img src="/assets/images/logo/logo-1.png" class="h-8 w-8 mr-3 rounded-full" alt="CentralBank Logo" loading="lazy"/>
		<span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Central Bank</span>
	  </a>
	  <div class="flex items-center md:order-2">
		<button type="button" class="relative mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
		  <span class="sr-only">Open user menu</span>
		  <img class="w-10 h-10 rounded-full ring-2 p-1 ring-gray-500" src="/assets/images/profiles/profile-picture-3.png" alt="user photo" loading="lazy">
		  <span class="bottom-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-gray-800 rounded-full"></span>

		</button>
		<!-- Dropdown menu -->
		<div class="z-50 hidden my-4 text-base list-none rounded-lg shadow bg-gray-700 divide-gray-600" id="user-dropdown">
		  <div class="px-4 py-3">
			<span class="block text-sm text-white">Bonnie Green</span>
			<span class="block text-sm truncate text-gray-400">name@flowbite.com</span>
		  </div>
		  <ul class="py-2" aria-labelledby="user-menu-button">
			<li>
			  <a routerLink="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">
				Dashboard
			  </a>
			</li>
			<li>
			  <a routerLink="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">
				Settings
			  </a>
			</li>
			<li>
			  <a routerLink="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">
				Sign out
			  </a>
			</li>
		  </ul>
		</div>
		<button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
		  <span class="sr-only">Open main menu</span>
		  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
		</button>
	  </div>
	  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
		<ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700">
		  <li>
			<a routerLink="/" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:p-0 md:text-blue-500" aria-current="page">
				Home
			</a>
		  </li>
		  <li>
			<a routerLink="/customers" class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">
				Customers
			</a>
		  </li>
		  <li>
			<button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 border-b md:border-0 md:p-0 md:w-auto text-white md:hover:text-blue-500 focus:text-white border-gray-700 hover:bg-gray-700 md:hover:bg-transparent">
			  Accounts <i class="bi bi-chevron-down mx-1"></i>
			</button>
			<!-- Dropdown menu -->
			<div id="dropdownNavbar" class="z-10 hidden font-normal divide-y rounded-lg shadow w-44 bg-gray-700 divide-gray-600">
			  <ul class="py-2 text-sm text-gray-400" aria-labelledby="dropdownLargeButton">
				<li>
				  <a routerLink="/accounts" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">
					Dashboard
				  </a>
				</li>
				<li>
				  <a routerLink="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">
					New Account
				  </a>
				</li>
			  </ul>
			  <div class="py-1">
				<a routerLink="#" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-400 hover:text-white">
					Search
				</a>
			  </div>
			</div>
		  </li>
		  <li>
			<a routerLink="#" class="block py-2 pl-3 pr-4 rounded md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">
				About
			</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  